<h1>Add a New Course</h1>

<form action="/courses/create" method="post">
  <label for ="coursenumber"> Course Number</label>
  <input id="coursenumber" name="coursenumber" type="text">
  <br>
  <label for ="name"> Course Name</label>
  <input id="name" name="name" type="text">  
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<a href="/courses"> Go Back</a>
